### Week3 - ML&DM

In [1]:
import pandas as pd
import numpy as np
from mlxtend.classifier import OneRClassifier
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [2]:
# Load titanic dataset

pd.set_option('display.max_colwidth',None)
titanic = pd.read_csv('./titanic.csv')
print("Number of rows in original data: {}\n".format(len(titanic.index)))
print("Features present in dataset: \n", titanic.columns)
print(titanic.head(10))

Number of rows in original data: 887

Features present in dataset:
 Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'Siblings/Spouses Aboard',
       'Parents/Children Aboard', 'Fare'],
      dtype='object')
   Survived  Pclass                                                Name  \
0         0       3                              Mr. Owen Harris Braund
1         1       1  Mrs. John Bradley (Florence Briggs Thayer) Cumings
2         1       3                               Miss. Laina Heikkinen
3         1       1         Mrs. Jacques Heath (Lily May Peel) Futrelle
4         0       3                             Mr. William Henry Allen
5         0       3                                     Mr. James Moran
6         0       1                              Mr. Timothy J McCarthy
7         0       3                       Master. Gosta Leonard Palsson
8         1       3    Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson
9         1       2                  Mrs. Nicholas (Adele Achem) Nasser

      Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard     Fare
0    male  22.0                        1                        0   7.2500
1  female  38.0                        1                        0  71.2833
2  female  26.0                        0                        0   7.9250
3  female  35.0                        1                        0  53.1000
4    male  35.0                        0                        0   8.0500
5    male  27.0                        0                        0   8.4583
6    male  54.0                        0                        0  51.8625
7    male   2.0                        3                        1  21.0750
8  female  27.0                        0                        2  11.1333
9  female  14.0                        1                        0  30.0708

### Problem 1: Q1. Default rule for the titanic Dataset

In [3]:
survived_in_titanic = titanic.loc[titanic['Survived'] == 1]
#print(len(survived_in_titanic))

not_survived_in_titanic = titanic.loc[titanic['Survived'] == 0]
#print(len(not_survived_in_titanic))

print("Total {} of people survived, {} number of people not survived \n".format(len(survived_in_titanic),len(not_survived_in_titanic)))
print("Most of the people are not survived So, the Default rule for this dataset are survived people with total {}".format(len(not_survived_in_titanic)))

Total 342 of people survived, 545 number of people not survived

Most of the people are not survived So, the Default rule for this dataset are survived people with total 545

### Q2. Best 1R for titanic Dataset

In [34]:
titanic.describe(include='all')

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
count,887.000000,887.000000,887,887,887.000000,887.000000,887.000000,887.00000
unique,NaN,NaN,887,2,NaN,NaN,NaN,NaN
top,NaN,NaN,Mr. Thomas Leonard Theobald,male,NaN,NaN,NaN,NaN
freq,NaN,NaN,1,573,NaN,NaN,NaN,NaN
mean,0.385569,2.305524,NaN,NaN,29.471443,0.525366,0.383315,32.30542
std,0.487004,0.836662,NaN,NaN,14.121908,1.104669,0.807466,49.78204
min,0.000000,1.000000,NaN,NaN,0.420000,0.000000,0.000000,0.00000
25%,0.000000,2.000000,NaN,NaN,20.250000,0.000000,0.000000,7.92500
50%,0.000000,3.000000,NaN,NaN,28.000000,0.000000,0.000000,14.45420
75%,1.000000,3.000000,NaN,NaN,38.000000,1.000000,0.000000,31.13750
max,1.000000,3.000000,NaN,NaN,80.000000,8.000000,6.000000,512.32920

In [5]:
print(titanic.loc[titanic['Name'] == 'Miss. Ebba Iris Alfrida Andersson'])

     Survived  Pclass                               Name     Sex  Age  \
809         0       3  Miss. Ebba Iris Alfrida Andersson  female  6.0

     Siblings/Spouses Aboard  Parents/Children Aboard    Fare
809                        4                        2  31.275

In [6]:
le = preprocessing.LabelEncoder()
x_d = titanic[["Pclass","Name","Sex","Age","Siblings/Spouses Aboard","Parents/Children Aboard","Fare"]]
y = le.fit(titanic["Survived"])
y = le.transform(titanic["Survived"])

In [30]:

xd_train, xd_test, y_train, y_test = train_test_split(x_d, y, test_size = 0.20)
print(xd_train)
print("y_train", y_train)
#print("xd_test", xd_test)

     Pclass                                                      Name     Sex  \
48        3              Mrs. Josef (Josefine Franchi) Arnold-Franchi  female
701       3                                    Mr. Henrik Juul Hansen    male
880       3                                     Mr. Henry Jr Sutehall    male
481       1                                    Mr. Dickinson H Bishop    male
747       3                                        Master. Meier Moor    male
..      ...                                                       ...     ...
141       3       Mrs. Pekka Pietari (Elin Matilda Dolck) Hakkarainen  female
259       3                          Master. Edvin Rojj Felix Asplund    male
314       2                        Mrs. Sinai (Miriam Sternin) Kantor  female
25        3  Mrs. Carl Oscar (Selma Augusta Emilia Johansson) Asplund  female
208       1                                           Mr. Henry Blank    male

      Age  Siblings/Spouses Aboard  Parents/Children Aboard     Fare
48   18.0                        1                        0  17.8000
701  26.0                        1                        0   7.8542
880  25.0                        0                        0   7.0500
481  25.0                        1                        0  91.0792
747   6.0                        0                        1  12.4750
..    ...                      ...                      ...      ...
141  24.0                        1                        0  15.8500
259   3.0                        4                        2  31.3875
314  24.0                        1                        0  26.0000
25   38.0                        1                        5  31.3875
208  40.0                        0                        0  31.0000

[709 rows x 7 columns]
y_train [0 0 0 1 1 1 1 0 0 0 1 0 0 0 1 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 1 0 0 0 0 1
 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0 1 0 1 0 1 0 1 0 1 0 0 1 1 0 1 0 1 1 1 1 0 1
 0 1 0 0 1 0 0 0 0 1 0 1 1 0 0 0 0 0 1 0 0 0 0 0 1 0 1 0 0 1 0 0 1 1 0 0 1
 0 1 1 1 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 1 0 1 1 0 1 0 1 1 0 0 1 1 0 1 0 0
 1 1 1 0 0 1 0 0 0 0 1 1 1 1 1 0 1 1 0 0 1 0 1 0 0 0 1 0 0 0 1 1 0 1 0 0 0
 1 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 1 0 0 0 1 0 0 1
 1 0 0 0 0 0 0 0 1 0 0 1 1 0 0 1 0 1 0 1 0 0 0 0 0 1 0 0 0 1 0 1 0 1 0 0 0
 1 0 0 0 0 0 1 0 1 0 1 1 0 0 1 0 0 0 0 1 1 1 1 0 0 1 0 0 0 0 0 0 0 1 1 0 1
 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 1 1 1 0 0 1 1 0 0 0 0 0 0 1 0 0
 1 0 0 1 0 1 0 1 0 0 0 0 0 0 1 1 0 0 0 1 0 0 0 0 0 1 1 1 1 1 1 1 0 1 1 0 0
 0 1 0 1 0 1 1 0 1 1 0 1 0 1 1 1 1 0 1 0 1 0 1 0 0 0 0 1 0 0 0 0 0 0 0 1 0
 1 1 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 1 0 1 0 0 0 0 1 1 1 0 1 1 0 1 0 1 0 1
 0 0 0 0 0 1 1 0 0 1 1 0 1 1 0 0 1 0 0 1 0 1 0 1 0 1 0 1 1 0 0 0 0 1 1 1 1
 0 0 1 0 0 0 1 0 0 0 1 0 0 0 1 0 0 1 0 1 1 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 0
 1 1 1 0 0 0 0 0 0 1 1 0 0 0 0 0 1 1 0 0 0 0 0 1 0 1 1 1 0 0 1 1 0 1 0 1 0
 0 0 0 0 0 0 1 0 1 1 0 1 1 0 0 1 0 0 0 0 1 1 1 0 0 0 0 0 1 1 1 0 0 1 0 0 0
 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 1 1 0 1 1 0 0 1 1 0 0 1 0 0 1 1 0 0 1 0
 1 1 1 1 0 0 0 1 0 0 0 1 0 1 0 0 0 0 1 0 0 1 1 0 0 1 1 1 0 1 1 0 1 0 0 1 1
 0 0 0 1 1 1 1 0 1 0 0 0 0 1 0 1 1 0 0 0 1 1 0 0 0 1 0 0 1 1 0 0 0 1 1 0 0
 0 1 1 1 1 1]
xd_test      Pclass                                            Name     Sex   Age  \
694       3                         Miss. Katherine Mullens  female  19.0
115       3                             Mr. Patrick Connors    male  70.5
520       1  Mrs. Louis Albert (Ida Sophia Fischer) Hippach  female  44.0
584       1                 Mr. Maxmillian Frolicher-Stehli    male  60.0
639       3                    Miss. Margit Elizabeth Skoog  female   2.0
..      ...                                             ...     ...   ...
473       2                          Mr. Peter Henry Renouf    male  34.0
692       2                       Mr. Charles Henry Chapman    male  52.0
599       1                        Mr. Charles H Harrington    male  37.0
604       1                      Mr. Robert Williams Daniel    male  27.0
794       3                     Mr. Yousseff Ibrahim Shawah    male  30.0

     Siblings/Spouses Aboard  Parents/Children Aboard     Fare
694                        0                        0   7.7333
115                        0                        0   7.7500
520                        0                        1  57.9792
584                        1                        1  79.2000
639                        3                        2  27.9000
..                       ...                      ...      ...
473                        1                        0  21.0000
692                        0                        0  13.5000
599                        0                        0  42.4000
604                        0                        0  30.5000
794                        0                        0   7.2292

[178 rows x 7 columns]

In [8]:

oner = OneRClassifier()
oner.fit(xd_train.to_numpy(),y_train)
y_pred = oner.predict(xd_test.to_numpy())

accuracy = accuracy_score(y_test, y_pred)
print("Accucy: ", accuracy)

Accucy:  0.550561797752809

In [9]:
print(y_test)
print(y_pred)

print(confusion_matrix(y_test, y_pred))

[1 1 1 1 0 1 0 1 1 1 1 0 0 1 0 0 0 1 0 0 0 1 0 1 1 0 0 1 0 0 1 1 1 0 0 1 0
 0 1 0 1 1 0 1 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 0 0 0 1 1 1 0 0
 0 1 1 1 0 0 0 1 0 0 0 1 0 1 0 1 0 1 1 0 0 1 1 1 0 0 1 0 0 0 0 1 0 0 1 1 0
 0 1 1 0 1 0 0 0 1 0 0 1 1 1 0 0 1 1 1 0 1 1 0 0 0 1 1 0 0 1 1 0 1 1 0 0 0
 0 1 1 0 0 1 1 1 1 0 0 0 1 0 1 0 0 1 0 1 0 0 0 0 1 0 1 1 0 1]
[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
[[98  0]
 [80  0]]

In [10]:
print("feature: ", oner.feature_idx_)

feature:  1

In [11]:
print("prediction_dict_: ", oner.prediction_dict_)

prediction_dict_:  {'total error': 0, 'rules (value: class)': {'Capt. Edward Gifford Crosby': 0, 'Don. Manuel E Uruchurtu': 0, 'Dr. Alfred Pain': 0, 'Dr. Alice (Farnham) Leader': 1, 'Dr. Ernest Moraweck': 0, 'Dr. Henry William Frauenthal': 1, 'Jonkheer. John George Reuchlin': 0, 'Lady. (Lucille Christiana Sutherland)Duff Gordon': 1, 'Major. Arthur Godfrey Peuchen': 1, 'Master. Alden Gates Caldwell': 1, 'Master. Arthur Rice': 0, 'Master. Assad Alexander Thomas': 1, 'Master. Bertram Vere Dean': 1, 'Master. Clarence Gustaf Hugo Asplund': 0, 'Master. Eden Leslie Coutts': 1, 'Master. Edmond Roger Navratil': 1, 'Master. Edvin Rojj Felix Asplund': 1, 'Master. Eino Viljami Panula': 0, 'Master. Elias Nicola-Yarred': 1, 'Master. Halim Gonios Moubarek': 1, 'Master. Harald Skoog': 0, 'Master. Harold Theodor Johnson': 1, 'Master. Harold Victor Goodwin': 0, 'Master. Hudson Trevor Allison': 1, 'Master. John Morgan Jr Davies': 1, 'Master. Juha Niilo Panula': 0, 'Master. Karl Thorsten Skoog': 0, 'Master. Meier Moor': 1, 'Master. Sidney Leonard Goodwin': 0, 'Master. Sigvard Harald Elias Andersson': 0, 'Master. Thomas Henry Sage': 0, 'Master. Urho Abraham Panula': 0, 'Master. Washington Dodge': 1, 'Master. William Frederick Goodwin': 0, 'Master. William Loch Coutts': 1, 'Master. William Thornton II Carter': 1, 'Miss. (Marion Ogden) Meanwell': 0, 'Miss. Adele Kiamie Najib': 1, 'Miss. Agda Thorilda Viktoria Lindahl': 0, 'Miss. Albina Bazzani': 1, 'Miss. Alice Cleaver': 1, 'Miss. Alice Elizabeth Fortune': 1, 'Miss. Alice Herman': 1, 'Miss. Alice Phoebe Harknett': 0, 'Miss. Aloisia Haas': 0, 'Miss. Amelia Bissette': 1, 'Miss. Amelia Brown': 1, 'Miss. Amelie Icard': 1, 'Miss. Amy Zillah Elsie Stanley': 1, 'Miss. Ann Elizabeth Isham': 0, 'Miss. Anna Katherine Kelly': 1, 'Miss. Anna Kristine Salkjelsvik': 1, 'Miss. Anna McGowan': 1, 'Miss. Anna Peter': 1, 'Miss. Anna Sinkkonen': 1, 'Miss. Anna Sofia Nysten': 1, 'Miss. Anna Sofia Turja': 1, 'Miss. Anna Ward': 1, 'Miss. Anne Perreault': 1, 'Miss. Annie Jermyn': 1, 'Miss. Annie Jessie Harper': 1, 'Miss. Asuncion Duran y More': 1, 'Miss. Augusta Maria Vander Planke': 0, 'Miss. Augusta Serepeca': 1, 'Miss. Banoura Ayoub': 1, "Miss. Bridget Mary O'Sullivan": 0, "Miss. Bridget O'Driscoll": 1, 'Miss. Brigdet Delia McDermott': 1, 'Miss. Carla Christine Nielsine Andersen-Jensen': 1, 'Miss. Caroline Louise Endres': 1, 'Miss. Catherine Helen Johnston': 0, 'Miss. Clear Annie Cameron': 1, 'Miss. Constance Gladys Sage': 0, 'Miss. Daisy E Minahan': 1, 'Miss. Delia Henry': 0, 'Miss. Doolina Margaret Ford': 0, 'Miss. Dorothy Edith Sage': 0, 'Miss. Ebba Iris Alfrida Andersson': 0, 'Miss. Eleanor Ileen Johnson': 1, 'Miss. Elina Olsson': 0, 'Miss. Elisabeth Walton Allen': 1, 'Miss. Elise Lurette': 1, 'Miss. Elizabeth Bonnell': 1, 'Miss. Elizabeth Dowdell': 1, 'Miss. Elizabeth Mussey Eustis': 1, 'Miss. Elizabeth W Shutes': 1, 'Miss. Ellen Barber': 1, 'Miss. Ellen Natalia Pettersson': 0, "Miss. Ellen O'Dwyer": 1, 'Miss. Ellen Toomey': 1, 'Miss. Ellis Anna Maria Andersson': 0, 'Miss. Elsie Edith Bowerman': 1, 'Miss. Eugenie Baclini': 1, 'Miss. Eva Miriam Hart': 1, 'Miss. Georgette Alexandra Madill': 1, 'Miss. Gretchen Fiske Longley': 1, 'Miss. Hanora Hegarty': 0, "Miss. Hanora O'Leary": 1, 'Miss. Harriet R Crosby': 1, 'Miss. Hedwig Margaritha Frolicher': 1, 'Miss. Helen Carr': 1, 'Miss. Helen Loraine Allison': 0, 'Miss. Helen Mary Mockler': 1, 'Miss. Helmina Josefina Nilsson': 1, 'Miss. Henriette Yrois': 0, 'Miss. Hilda Mary Slayter': 1, 'Miss. Hileni Zabour': 0, 'Miss. Hulda Amanda Adolfina Vestrom': 0, 'Miss. Ida Lefebre': 0, 'Miss. Ingeborg Constanzia Andersson': 0, 'Miss. Jean Gertrude Hippach': 1, 'Miss. Jeannie Lefebre': 0, 'Miss. Joan Wells': 1, 'Miss. Kate Buss': 1, 'Miss. Kate Connolly': 1, 'Miss. Katherine Mullens': 1, 'Miss. Katherine Murphy': 1, 'Miss. Katie Peters': 0, 'Miss. Katriina Jussila': 0, 'Miss. Kristina Sofia Laitinen': 0, 'Miss. Laura Mabel Francatelli': 1, 'Miss. Lillian Amy Goodwin': 0, 'Miss. Lucy Ridsdale': 1, 'Miss. Lyyli Karoliina Silven': 1, 'Miss. Mabel Helen Fortune': 1, 'Miss. Mabel Skoog': 0, 'Miss. Madeleine Newell': 1, 'Miss. Madeleine Violet Mellinger': 1, 'Miss. Malake Attalah': 0, 'Miss. Margaret Bechstein Hays': 1, 'Miss. Margaret Delia Devaney': 1, 'Miss. Margaret Edith Graham': 1, 'Miss. Margaret Fleming': 1, 'Miss. Margaret Jane Murphy': 1, 'Miss. Margaret Madigan': 1, 'Miss. Margareth Mannion': 1, 'Miss. Margit Elizabeth Skoog': 0, 'Miss. Mari Aina Jussila': 0, 'Miss. Maria Nakid': 1, 'Miss. Marie Grice Young': 1, 'Miss. Marija Cacic': 0, 'Miss. Marija Oreskovic': 0, 'Miss. Marion Elsie Smith': 1, 'Miss. Marion Louise Becker': 1, 'Miss. Marjorie Collyer': 1, 'Miss. Marjorie Newell': 1, 'Miss. Mary Agatha Glynn': 1, 'Miss. Mary Bourke': 0, 'Miss. Mary Canavan': 0, 'Miss. Mary Davis': 1, 'Miss. Mary Kelly': 1, 'Miss. Mary Mangan': 0, 'Miss. Mary McGovern': 1, 'Miss. Mary Natalie Wick': 1, 'Miss. Mathilde Lefebre': 0, 'Miss. Matilda Petranec': 0, 'Miss. Nourelain Boulos': 0, 'Miss. Phyllis May Quick': 1, 'Miss. Roberta Maioni': 1, 'Miss. Robina Maggie Ford': 0, 'Miss. Rosalie Bidois': 1, 'Miss. Ruth Taussig': 1, 'Miss. Saiide Barbara': 0, 'Miss. Sigrid Elisabeth Andersson': 0, 'Miss. Simonne Marie Anne Andree Laroche': 1, 'Miss. Stella Anna Sage': 0, 'Miss. Stina Viola Palsson': 0, 'Miss. Susan Parker Ryerson': 1, 'Miss. Susan Webber': 1, 'Miss. Thamine Zabour': 0, 'Miss. Torborg Danira Palsson': 0, 'Miss. Velin Ohman': 1, 'Miss. Wendla Maria Heininen': 0, 'Mlle. Berthe Antonine Mayne': 1, 'Mlle. Emma Sagesser': 1, 'Mme. Leontine Pauline Aubart': 1, 'Mr. Abraham (David Lishin) Harmer': 0, 'Mr. Achille Waelens': 0, 'Mr. Adola Asim': 0, 'Mr. Adolf Mathias Nicolai Olsen Humblen': 0, 'Mr. Adolphe Saalfeld': 1, 'Mr. Ahmed Ali': 0, 'Mr. Albert A Stewart': 0, 'Mr. Albert Adrian Dick': 1, 'Mr. Albert Augustsson': 0, 'Mr. Alexander Cairns': 0, 'Mr. Alexander Oskar Holverson': 0, 'Mr. Alfons de Pelsmaeker': 0, 'Mr. Alfred Gaskell': 0, 'Mr. Alfred George John Rush': 0, 'Mr. Alfred J Davies': 0, 'Mr. Alfred Johnson': 0, 'Mr. Alfred Ossian Gustafsson': 0, 'Mr. Algernon Henry Wilson Barkworth': 1, 'Mr. Ali Lam': 1, 'Mr. Ambrose Jr Hood': 0, 'Mr. Anders Johan Andersson': 0, 'Mr. Anders Vilhelm Gustafsson': 0, 'Mr. Andrew G Johnston': 0, 'Mr. Andrew Keane': 0, 'Mr. Anthony Abbing': 0, 'Mr. Anthony Wood Frost': 0, 'Mr. Antoni Yasbeck': 0, 'Mr. Apostolos Chronopoulos': 0, 'Mr. Arthur H Gee': 0, 'Mr. Arthur Keefe': 0, 'Mr. Arthur Webster Newell': 0, 'Mr. August Meyer': 0, 'Mr. August Sigfrid Carlsson': 0, 'Mr. August Viktor Larsson': 0, 'Mr. Austen Partner': 0, 'Mr. Austin Blyler van Billiard': 0, 'Mr. Bengt Edvin Larsson': 0, 'Mr. Benjamin Laventall Foreman': 0, 'Mr. Berk (Berk Trembisky) Pickard': 1, 'Mr. Bernard McCoy': 1, 'Mr. Bernt Johannesen-Bratthammer': 1, 'Mr. Bertram Frank Dean': 0, 'Mr. Branko Dakic': 0, 'Mr. Carl Jonsson': 1, 'Mr. Carl Olof Jansson': 1, 'Mr. Carl/Charles Peter Widegren': 0, 'Mr. Cerin Balkic': 0, 'Mr. Charles Alexander Fortune': 0, 'Mr. Charles Duane Williams': 0, 'Mr. Charles Edward Goodwin': 0, 'Mr. Charles Eugene Williams': 1, 'Mr. Charles Frederick Waddington Sedgwick': 0, 'Mr. Charles H Harrington': 0, 'Mr. Charles H Natsch': 0, 'Mr. Charles Hallace Romaine': 1, 'Mr. Charles Henry Davies': 0, 'Mr. Charles Joseph Shorney': 0, 'Mr. Charles Wilhelms': 1, 'Mr. Christo Nenkoff': 0, 'Mr. Claus Peter Hansen': 0, 'Mr. Daniel Coxon': 0, 'Mr. Daniel Danielsen Gronnestad': 0, 'Mr. Daniel J Moran': 0, 'Mr. Daniel Warner Marvin': 0, 'Mr. David Charters': 0, 'Mr. David Reeves': 0, 'Mr. Denis Lennon': 0, 'Mr. Dibo Elias': 0, 'Mr. Dickinson H Bishop': 1, 'Mr. Domingos Fernandeo Coelho': 0, 'Mr. Douglas Bullen Sage': 0, 'Mr. Eberhard Thelander Fischer': 0, 'Mr. Edgar Joseph Meyer': 0, 'Mr. Edgardo Samuel Andrew': 0, 'Mr. Edvard Pekoniemi': 0, 'Mr. Edward Austin Kent': 0, 'Mr. Edward Beane': 1, 'Mr. Edward H Wheadon': 0, 'Mr. Edward Pennington Calderhead': 1, 'Mr. Edward Pomeroy Colley': 0, 'Mr. Edward Roland Stanley': 0, 'Mr. Edward Willey': 0, 'Mr. Edwin Nelson Jr Kimball': 1, 'Mr. Edwy Arthur West': 0, 'Mr. Einar Windelov': 0, 'Mr. Eino William Lindqvist': 1, 'Mr. Eiriik Jussila': 1, 'Mr. Eliezer Gilinski': 0, 'Mr. Elmer Zebley Taylor': 1, 'Mr. Emil Christmann': 0, 'Mr. Emil Taussig': 0, 'Mr. Emile Richard': 0, 'Mr. Engelhart Cornelius Ostby': 0, 'Mr. Ennis Hastings Watson': 0, 'Mr. Erik Gustaf Collander': 0, 'Mr. Erik Johansson': 0, 'Mr. Ernest Charles Cann': 0, 'Mr. Ernest James Crease': 0, 'Mr. Ernest Portage Tomlin': 0, 'Mr. Ernst Gilbert Danbom': 0, 'Mr. Ernst Ulrik Persson': 1, 'Mr. Ernst William Torber': 0, 'Mr. Ervin G Lewy': 0, 'Mr. Eugene Patrick Daly': 1, 'Mr. Fahim Leeni': 1, 'Mr. Fang Lang': 1, 'Mr. Farred Chehab Emir': 0, 'Mr. Fletcher Fellows Williams-Lambert': 0, 'Mr. Francesco Celotti': 0, 'Mr. Francis Davis Millet': 0, 'Mr. Francis Parkes': 0, 'Mr. Francis William Somerton': 0, 'Mr. Francisco M Carrau': 0, 'Mr. Frank Duane': 0, 'Mr. Frans Olof Carlsson': 0, 'Mr. Frederic Kimber Seward': 1, 'Mr. Frederick Charles Sawyer': 0, 'Mr. Frederick Edward Giles': 0, 'Mr. Frederick James Banfield': 0, 'Mr. Frederick Maxfield Hoyt': 1, 'Mr. Frederick Sage': 0, 'Mr. Frederick William Pengelly': 0, 'Mr. Frederick William Shellard': 0, 'Mr. George Achilles Harder': 1, 'Mr. George B Goldschmidt': 0, 'Mr. George Bradley': 1, 'Mr. George Edward Graham': 0, 'Mr. George Harris': 1, 'Mr. George Henry Green': 0, 'Mr. George John Jr Sage': 0, 'Mr. George Patchett': 0, 'Mr. George Wright': 0, 'Mr. Gerious Youseff': 0, 'Mr. Gerious Yousseff': 0, 'Mr. Guentcho Bostandyeff': 0, 'Mr. Gurshon Cohen': 1, 'Mr. Gustaf Hjalmar Edvardsson': 0, 'Mr. Gustaf Joel Johansson': 0, 'Mr. Gustave J Lesurer': 1, 'Mr. Hammad Hassab': 1, 'Mr. Hanna Assi Barah': 1, 'Mr. Hanna Boulos': 0, 'Mr. Hanna Mamee': 1, 'Mr. Hans Linus Eklund': 0, 'Mr. Hans Martin Monsen Birkeland': 0, 'Mr. Hans Peder Jensen': 0, 'Mr. Harry Anderson': 1, 'Mr. Harry Corn': 0, 'Mr. Harry Elkins Widener': 0, 'Mr. Harry Homer': 1, 'Mr. Harry Markland Molson': 0, 'Mr. Henrik Juul Hansen': 0, 'Mr. Henry Birkhardt Harris': 0, 'Mr. Henry Damsgaard Hansen': 0, 'Mr. Henry Hart': 0, 'Mr. Henry Jr Sutehall': 0, 'Mr. Henry Margido Olsen': 0, 'Mr. Henry Michael Mitchell': 0, 'Mr. Henry Samuel Morley': 0, 'Mr. Henry Sleeper Harper': 1, 'Mr. Herbert Fuller Chaffee': 0, 'Mr. Herman Klaber': 0, 'Mr. Houssein G N Hassan': 0, 'Mr. Howard Hugh Williams': 0, 'Mr. Hugh Woolner': 1, 'Mr. Husein Sivic': 0, 'Mr. Ignjac Hendekovic': 0, 'Mr. Iisakki Antino Aijo Nirva': 0, 'Mr. Ilia Stoytcheff': 0, 'Mr. Ilmari Rudolf Alhomaki': 0, 'Mr. Ivan Jalsevac': 1, 'Mr. Ivan Mineff': 0, 'Mr. Ivan Stankovic': 0, 'Mr. Jaako Arnold Panula': 0, 'Mr. Jacob Christian Milling': 0, 'Mr. Jacob Cook': 0, 'Mr. Jacques Heath Futrelle': 0, 'Mr. Jakob Alfred Johanson': 0, 'Mr. Jakob Alfred Wiklund': 0, 'Mr. Jakob Pasic': 0, 'Mr. James Clinch Smith': 0, 'Mr. James Farrell': 0, 'Mr. James Flynn': 0, 'Mr. James George Reed': 0, 'Mr. James H Bracken': 0, 'Mr. James Kelly': 0, 'Mr. James Lester': 0, 'Mr. James Moran': 0, 'Mr. James Robert McGough': 1, 'Mr. James Webber': 0, 'Mr. Jan Baptist Sheerlinck': 1, 'Mr. Jeremiah Burke': 0, 'Mr. Jeso Culumovic': 0, 'Mr. Johan Birger Gustafsson': 0, 'Mr. Johan Ekstrom': 0, 'Mr. Johan Emil Petterson': 0, 'Mr. Johan Hansen Nysveen': 0, 'Mr. Johan Henrik Johannesson Kvillner': 0, 'Mr. Johan Julian Sundman': 1, 'Mr. Johan Svensson Lundahl': 0, 'Mr. Johan Werner Salonen': 0, 'Mr. Johann Markun': 0, 'Mr. Johannes Halvorsen Kalvik': 0, 'Mr. Johannes Joseph Vande Velde': 0, 'Mr. John Adams': 0, 'Mr. John Borland Jr Thayer': 1, 'Mr. John Borland Thayer': 0, 'Mr. John D Baumann': 0, 'Mr. John Denzil Jarvis': 0, 'Mr. John Flynn': 0, 'Mr. John Fredrik Alexander Holm': 0, 'Mr. John Garfirth': 0, 'Mr. John Henry Chapman': 0, 'Mr. John Henry Perkin': 0, 'Mr. John Horgan': 0, 'Mr. John Hugo Ross': 0, 'Mr. John Irwin Flynn': 1, 'Mr. John Simmons': 0, 'Mr. John Viktor Bengtsson': 0, 'Mr. Joseph Charles Nicholls': 0, 'Mr. Joseph J Fynney': 0, 'Mr. Joseph Jr Elias': 0, 'Mr. Joseph Murdlin': 0, 'Mr. Joseph Peduzzi': 0, 'Mr. Joseph Philippe Lemercier Laroche': 0, 'Mr. Jovan Dimic': 0, 'Mr. Jovo Calic': 0, 'Mr. Juho Stranden': 1, 'Mr. Juho Tikkanen': 0, 'Mr. Kanio Ivanoff': 0, 'Mr. Karl Alfred Backstrom': 0, 'Mr. Karl Edwart Dahl': 1, 'Mr. Karl Gideon Gustafsson': 0, 'Mr. Karl Howell Behr': 1, 'Mr. Karl Siegwart Andreas Olsen': 0, 'Mr. Khalil Saad': 0, 'Mr. Knud Paust Rommetvedt': 0, 'Mr. Konrad Mathias Reiersen Hagland': 0, 'Mr. Kristo Laleff': 0, 'Mr. Lalio Jonkoff': 0, 'Mr. Lalio Todoroff': 0, 'Mr. Lawrence Beesley': 1, 'Mr. Lawrence Gavey': 0, 'Mr. Lee Bing': 1, 'Mr. Len Lam': 0, 'Mr. Leo Edmondus Vander Planke': 0, 'Mr. Leo Zimmerman': 0, 'Mr. Leon Hampe': 0, 'Mr. Leslie Williams': 0, 'Mr. Lewis Richard Braund': 0, 'Mr. Lionel Leonard': 0, 'Mr. Liudevit Cor': 0, 'Mr. Luka Cacic': 0, 'Mr. Luka Oreskovic': 0, 'Mr. Mansour Hanna': 0, 'Mr. Manuel Estanslas Goncalves': 0, 'Mr. Marin Markoff': 0, 'Mr. Mark Fortune': 0, 'Mr. Martin Gallagher': 0, 'Mr. Martin McMahon': 0, 'Mr. Martin Ponesell': 0, 'Mr. Masabumi Hosono': 1, 'Mr. Matthew Sadlier': 0, 'Mr. Matti Alexanteri Maenpaa': 0, 'Mr. Matti Rintamaki': 0, 'Mr. Mauritz Hakan Bjornstrom-Steffansson': 1, 'Mr. Mauritz Nils Martin Adahl': 0, 'Mr. Maxmillian Frolicher-Stehli': 1, 'Mr. Michael Connaghton': 0, 'Mr. Michel Navratil': 0, 'Mr. Milan Karaic': 0, 'Mr. Mile Smiljanic': 0, 'Mr. Milton Clyde Long': 0, 'Mr. Minko Nankoff': 0, 'Mr. Mohamed Badt': 0, 'Mr. Moses Aaron Troupiansky': 0, 'Mr. Nakli Toufik': 0, 'Mr. Nassef Cassem Albimona': 1, 'Mr. Neal McNamee': 0, 'Mr. Nedelio Petroff': 0, 'Mr. Nicholas Nasser': 0, 'Mr. Niels Peder Jensen': 0, 'Mr. Nikola Lulic': 1, 'Mr. Nikolai Erland Kallio': 0, 'Mr. Nils Johan Goransson Olsson': 0, 'Mr. Nils Martin Odahl': 0, 'Mr. Norman Campbell Chambers': 1, 'Mr. Olaf Elon Osen': 0, 'Mr. Ole Martin Olsen': 0, 'Mr. Orsen Sirayanian': 0, 'Mr. Oskar Arvid Hedman': 1, 'Mr. Owen George Allum': 0, 'Mr. Owen Harris Braund': 0, 'Mr. Pastcho Petroff': 0, 'Mr. Patrick Connors': 0, "Mr. Patrick D O'Connell": 0, 'Mr. Patrick Dooley': 0, 'Mr. Patrick Ryan': 0, 'Mr. Paul Edvin Andreasson': 0, 'Mr. Pehr Fabian Oliver Malkolm Myhrman': 0, 'Mr. Peju Coleff': 0, 'Mr. Pekka Pietari Hakkarainen': 0, 'Mr. Penko Naidenoff': 0, 'Mr. Percival James R Sharp': 0, 'Mr. Percival Wayland White': 0, 'Mr. Petar Calic': 0, 'Mr. Petco Slabenoff': 0, 'Mr. Peter Andreas Lauritz Andersen Soholt': 0, 'Mr. Peter David McKane': 0, 'Mr. Peter Denis Daly': 1, 'Mr. Peter Henry Renouf': 0, 'Mr. Peter L Lemberopolous': 0, 'Mr. Philemon van Melkebeke': 0, 'Mr. Philip Kiernan': 0, 'Mr. Phillippe Wiseman': 0, 'Mr. Pierre Marechal': 1, 'Mr. Rahamin Haim Moutal': 0, 'Mr. Raihed Razi': 0, 'Mr. Ramon Artagaveytia': 0, 'Mr. Reginald Charles Coleridge': 0, 'Mr. Reginald Fenton Butler': 0, 'Mr. Reginald Hale': 0, 'Mr. Rene Aime Lievens': 0, 'Mr. Rene Jacques Levy': 0, 'Mr. Rene Pernot': 0, 'Mr. Richard Cater Nosworthy': 0, 'Mr. Richard Frasar White': 0, 'Mr. Richard Fry': 0, 'Mr. Richard George Hocking': 0, 'Mr. Richard Henry Rouse': 0, 'Mr. Richard James Slemen': 0, 'Mr. Richard Otter': 0, 'Mr. Richard William Smith': 0, 'Mr. Ristiu Dantcheff': 0, 'Mr. Robert Douglas Norman': 0, 'Mr. Robert J Knight': 0, 'Mr. Robert Mernagh': 0, 'Mr. Robert William Norman Leyson': 0, 'Mr. Robert Williams Daniel': 1, 'Mr. Roger Tobin': 0, 'Mr. Rossmore Edward Abbott': 0, 'Mr. Sahid Nakid': 1, 'Mr. Samuel Abelson': 0, 'Mr. Samuel Dennis': 0, 'Mr. Samuel Greenberg': 0, 'Mr. Samuel James Hayden Sobey': 0, 'Mr. Samuel L Goldenberg': 1, 'Mr. Sante Ringhini': 0, 'Mr. Sarkis Lahoud': 0, 'Mr. Satio Coleff': 0, 'Mr. Sebastiano del Carlo': 0, 'Mr. Selman Francis Slocovski': 0, 'Mr. Shadrach Gale': 0, 'Mr. Sidney Samuel Jacobsohn': 0, 'Mr. Sigurd Hansen Moen': 0, 'Mr. Sinai Kantor': 0, 'Mr. Spencer Victor Silverthorne': 1, 'Mr. Stanley George Hickman': 0, 'Mr. Stanley Hubert Fox': 0, 'Mr. Stefo Pavlovic': 0, 'Mr. Stephen Curnow Jenkin': 0, 'Mr. Stephen Hold': 0, 'Mr. Stephen Weart Blackwell': 0, 'Mr. Stjepan Turcin': 0, 'Mr. Stoytcho Mionoff': 0, 'Mr. Svend Lauritz Jensen': 0, 'Mr. Tannous Betros': 0, 'Mr. Tannous Doharr': 0, 'Mr. Tannous Elias': 0, 'Mr. Thomas Charles Mudd': 0, 'Mr. Thomas Drake Martinez Cardeza': 1, 'Mr. Thomas J Kilgannon': 0, 'Mr. Thomas Joseph McCormack': 1, 'Mr. Thomas Jr Andrews': 0, 'Mr. Thomas Leonard Theobald': 0, 'Mr. Thomas Rowan Morrow': 0, 'Mr. Thomas William Solomon Brown': 0, 'Mr. Thor Anderson Olsvigen': 0, 'Mr. Thornton Davidson': 0, 'Mr. Tido Rekic': 0, 'Mr. Timothy J McCarthy': 0, "Mr. Timothy O'Brien": 0, 'Mr. Todor Sdycoff': 0, 'Mr. Tyrell William Cavendish': 0, 'Mr. Uscher Paulner': 0, 'Mr. Vasil Plotcharsky': 0, 'Mr. Victor Francis Sunderland': 1, 'Mr. Victor Giglio': 0, 'Mr. Victor Robbins': 0, 'Mr. Victor Vander Cruyssen': 0, 'Mr. Victor de Satode Penasco y Castellana': 0, 'Mr. Viktor Richard Rosblom': 0, 'Mr. Vincenz Kink': 0, 'Mr. Walter Chamberlain Porter': 0, 'Mr. Walter Donald Douglas': 0, 'Mr. Walter Harris': 0, 'Mr. Walter James Hawksford': 1, 'Mr. Washington Augustus II Roebling': 0, 'Mr. Wazli Yousif': 0, 'Mr. Wilhelm Skoog': 0, 'Mr. William Ali': 0, 'Mr. William Arthur Lobb': 0, 'Mr. William Baird Silvey': 0, 'Mr. William Bertram Greenfield': 1, 'Mr. William Cahoone Jr Johnson': 0, 'Mr. William Campbell': 0, 'Mr. William Carbines': 0, 'Mr. William Ernest Carter': 1, 'Mr. William Fisher Hoyt': 0, 'Mr. William Harrison': 0, 'Mr. William Henry Allen': 0, 'Mr. William Henry Gillespie': 0, 'Mr. William Henry Marsh Parr': 0, 'Mr. William Henry Saundercock': 0, 'Mr. William Henry Tornquist': 1, 'Mr. William James Downton': 0, 'Mr. William James Elsbury': 0, 'Mr. William John Berriman': 0, 'Mr. William John Mellors': 1, 'Mr. William John Rogers': 0, 'Mr. William Morley': 0, 'Mr. William Neal Ford': 0, 'Mr. William Thompson Sloper': 1, 'Mr. Wyckoff Van der hoef': 0, 'Mr. Youssef Samaan': 0, 'Mr. Yousseff Ibrahim Shawah': 0, 'Mrs. (Ada E Hall) Ball': 1, 'Mrs. (Amelia Milley) Lemore': 1, 'Mrs. (Beila) Moor': 1, 'Mrs. (Catherine David) Barbara': 0, 'Mrs. (Edith Martha Bowerman) Chibnall': 1, 'Mrs. (Elizabeth Anne Maidment) Mellinger': 1, 'Mrs. (Elizabeth Ramell) Nye': 1, 'Mrs. (Hedwig) Turkula': 1, 'Mrs. (Karolina) Bystrom': 1, 'Mrs. (Lutie Davis) Parrish': 1, 'Mrs. (Mantoura Boulos) Moussa': 1, 'Mrs. (Mary) Mack': 0, 'Mrs. (Rosa) Pinsky': 1, 'Mrs. Albert Adrian (Vera Gillespie) Dick': 1, 'Mrs. Albert Francis (Sylvia Mae Harbaugh) Caldwell': 1, 'Mrs. Alexander A (Grace Charity Laury) Robins': 0, 'Mrs. Alexander Oskar (Mary Aline Towner) Holverson': 1, 'Mrs. Amin S (Marie Marthe Thuillard) Jerwan': 1, 'Mrs. Anders Johan (Alfrida Konstantia Brogren) Andersson': 0, 'Mrs. Antoni (Selini Alexander) Yasbeck': 1, 'Mrs. Benjamin (Esther Ada Bloomfield) Hart': 1, 'Mrs. Carl Oscar (Selma Augusta Emilia Johansson) Asplund': 1, 'Mrs. Catherine (Catherine Rizk) Peter': 1, 'Mrs. Charles Alexander (Alice Adelaide Slow) Louch': 1, 'Mrs. Charles V (Ada Maria Winfield) Clarke': 1, 'Mrs. Darwis (Hanne Youssef Razi) Touma': 1, 'Mrs. Dickinson H (Helen Walton) Bishop': 1, 'Mrs. Edgar Joseph (Leila Saks) Meyer': 1, 'Mrs. Edward (Margaret Ann Watson) Ford': 0, 'Mrs. Edward Dale (Charlotte Lamson) Appleton': 1, 'Mrs. Edward Scott (Elisabeth Walton McMillan) Robert': 1, 'Mrs. Edwy Arthur (Ada Mary Worth) West': 1, 'Mrs. Elizabeth (Eliza Needs) Hocking': 1, 'Mrs. Elmer Zebley (Juliet Cummins Wright) Taylor': 1, 'Mrs. Ernest Courtenay (Lilian Hughes) Carter': 0, 'Mrs. Ernst Gilbert (Anna Sigrid Maria Brogren) Danbom': 0, 'Mrs. Frank Manley (Anna Sophia Atkinson) Warren': 1, 'Mrs. Frederic Oakley (Margaretta Corning Stone) Spedden': 1, 'Mrs. Frederick (Augusta Tyler) Goodwin': 0, 'Mrs. Frederick Charles (Jane Richards) Quick': 1, 'Mrs. Frederick R (Marion) Kenyon': 1, 'Mrs. Guillaume Joseph (Emma) de Messemaeker': 1, 'Mrs. Harvey (Charlotte Annie Tate) Collyer': 1, 'Mrs. Henry Sleeper (Myna Haxtun) Harper': 1, 'Mrs. Henry William (Clara Heinsheimer) Fr

In [31]:
y_predict = oner.predict(xd_train.to_numpy())
train_acc = np.mean(y_predict == y_train)  
print(f'Training accuracy {train_acc*100:.2f}%')

Training accuracy 62.34%

In [32]:
y_pred = oner.predict(xd_test.to_numpy())
test_acc = np.mean(y_pred == y_test)  
print(f'Test accuracy {test_acc*100:.2f}%')

Test accuracy 57.87%

### Q3.

In [12]:
x_d_new = titanic[["Survived","Sex","Age","Siblings/Spouses Aboard","Parents/Children Aboard"]]
y_new = le.fit(titanic["Survived"])
y_new = le.transform(titanic["Survived"])

In [13]:
# xd_train_new = x_d_new[:, 10:]
# xd_test_new = x_d_new[:, 0]
# y_train_new = x_d_new[:, :10]
# y_test_new = x_d_new[:, 0]

xd_train_new, xd_test_new, y_train_new, y_test_new = train_test_split(x_d_new, y_new, test_size = 0.20)
print(xd_train_new)
print("y_train", y_train_new)

     Survived     Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard
105         1  female  21.0                        0                        0
383         0    male  18.0                        0                        0
613         0    male  34.0                        1                        1
449         0    male  30.0                        0                        0
483         1  female  35.0                        1                        0
..        ...     ...   ...                      ...                      ...
345         1  female  34.0                        1                        0
293         0    male  30.0                        0                        0
535         0    male  69.0                        0                        0
254         1  female  29.0                        0                        2
37          0    male  21.0                        0                        0

[709 rows x 5 columns]
y_train [1 0 0 0 1 0 0 0 1 0 0 1 1 1 1 0 1 0 0 0 0 0 0 0 0 0 0 1 0 1 0 1 0 0 1 0 0
 0 1 1 1 1 1 0 0 0 1 0 0 0 1 0 0 0 0 1 0 0 1 1 0 0 1 1 0 1 0 0 0 0 1 0 1 1
 0 0 0 0 0 0 0 0 1 0 0 0 1 1 0 0 0 0 0 1 0 0 1 0 1 1 1 0 0 1 0 1 1 0 0 1 0
 0 1 0 0 0 0 1 0 0 1 1 0 1 0 1 0 1 0 1 0 0 1 0 0 0 0 1 0 1 1 0 0 0 0 0 0 0
 1 0 0 0 0 0 0 0 0 1 0 0 0 1 1 0 1 1 0 1 0 0 0 0 1 0 1 0 0 0 0 1 1 1 1 0 0
 0 1 0 0 1 0 0 1 1 0 1 0 0 1 0 1 1 1 1 0 0 0 0 1 0 0 0 0 0 0 1 0 0 1 0 0 1
 0 0 0 0 1 1 0 1 1 1 1 0 0 0 1 0 1 1 0 1 0 1 0 0 0 0 0 0 0 1 0 1 0 0 0 1 0
 0 1 1 1 0 1 0 1 1 0 0 0 0 0 0 0 0 0 0 1 1 0 1 1 1 0 1 0 0 0 1 1 0 0 0 0 0
 1 1 0 0 1 0 0 0 1 0 0 0 1 0 0 1 0 0 1 0 1 0 1 1 0 0 0 0 0 0 0 0 0 0 0 1 0
 0 0 1 0 0 0 1 0 1 1 0 0 1 0 1 0 0 0 1 0 1 0 1 1 1 1 1 1 1 1 1 1 0 0 1 1 0
 0 1 1 1 1 1 1 0 0 0 0 1 1 0 0 1 0 0 0 0 1 0 0 0 0 0 1 1 1 1 0 0 1 1 1 0 1
 0 1 1 0 1 0 1 0 1 0 1 1 1 1 1 0 0 0 1 1 1 1 0 0 0 1 0 0 0 1 1 1 0 1 1 0 1
 0 0 1 1 1 0 0 1 1 0 1 0 0 0 0 1 0 0 0 1 1 1 0 1 0 1 1 0 1 1 0 0 0 1 0 0 0
 0 0 0 0 1 1 0 1 0 0 1 0 0 1 0 0 1 1 0 0 1 0 1 1 1 0 1 0 1 0 0 1 0 0 0 0 0
 1 0 0 1 1 0 0 0 0 0 1 1 1 1 1 1 0 0 0 1 0 0 1 0 1 0 1 0 0 0 1 1 1 0 0 0 0
 0 1 0 0 1 1 0 0 1 0 0 1 0 0 0 0 0 1 0 1 1 0 0 1 0 1 0 1 1 0 0 0 1 0 0 0 0
 0 0 0 1 1 0 1 1 0 0 1 1 1 0 0 1 0 0 1 0 0 0 0 0 0 1 0 0 1 1 1 0 1 0 0 0 0
 0 1 0 0 1 0 0 0 1 0 1 0 0 1 0 1 1 1 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 1
 0 0 0 0 0 1 0 0 1 0 1 0 0 0 1 0 1 0 0 0 1 0 0 0 1 1 0 0 1 1 1 1 0 1 1 0 0
 0 1 0 0 1 0]

In [14]:
oner.fit(xd_train_new.to_numpy(),y_train)
y_pred_new = oner.predict(xd_test_new.to_numpy())

Accuracy = accuracy_score(y_test_new, y_pred_new)
print("Accucy: \n", Accuracy)

print("y_test_new ", y_test_new)
print(" ")
print("y_pred_new ", y_pred_new)
print(" ")

print(confusion_matrix(y_test_new, y_pred_new))

print("feature: ", oner.feature_idx_)
print(" ")

print("prediction_dict_: ", oner.prediction_dict_)

Accucy:
 0.6067415730337079
y_test_new  [0 1 0 0 1 1 0 1 0 0 0 0 1 0 0 0 0 1 0 1 1 0 1 1 0 1 0 1 1 1 0 0 1 0 0 0 0
 0 0 0 0 1 0 1 0 0 0 0 1 1 0 0 0 1 0 0 1 1 1 0 1 0 1 0 1 0 1 0 0 0 0 0 0 1
 0 0 0 0 0 1 0 1 0 0 0 1 0 0 0 1 0 0 1 0 0 0 0 1 0 0 0 1 0 1 0 0 1 0 0 1 0
 1 0 1 0 1 0 0 0 1 0 0 0 0 1 0 0 0 1 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 1 1 0 1
 0 0 1 0 1 1 1 1 1 0 0 0 1 0 0 0 1 1 1 0 1 1 0 1 0 1 1 0 0 0]

y_pred_new  [0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 1
 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 1 0 0 0 1
 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0
 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0]

[[101  13]
 [ 57   7]]
feature:  2

prediction_dict_:  {'total error': 239, 'rules (value: class)': {0.67: 0, 0.83: 0, 1.0: 0, 2.0: 0, 3.0: 0, 4.0: 0, 5.0: 0, 6.0: 0, 7.0: 0, 8.0: 0, 9.0: 0, 10.0: 0, 11.0: 0, 12.0: 0, 13.0: 1, 14.0: 0, 14.5: 1, 15.0: 1, 16.0: 0, 17.0: 0, 18.0: 0, 19.0: 0, 20.0: 0, 21.0: 0, 22.0: 0, 23.0: 0, 23.5: 1, 24.0: 0, 25.0: 0, 26.0: 0, 27.0: 0, 28.0: 0, 28.5: 0, 29.0: 0, 30.0: 0, 30.5: 0, 31.0: 1, 32.0: 0, 32.5: 0, 33.0: 0, 34.0: 0, 34.5: 1, 35.0: 0, 36.0: 0, 36.5: 0, 37.0: 0, 38.0: 0, 39.0: 0, 40.0: 1, 40.5: 0, 41.0: 1, 42.0: 0, 43.0: 0, 44.0: 0, 45.0: 1, 46.0: 1, 47.0: 0, 48.0: 0, 49.0: 0, 50.0: 0, 51.0: 0, 52.0: 0, 53.0: 0, 54.0: 0, 55.0: 0, 55.5: 1, 56.0: 1, 57.0: 0, 58.0: 1, 59.0: 0, 60.0: 0, 61.0: 0, 62.0: 0, 63.0: 0, 64.0: 0, 65.0: 0, 66.0: 0, 69.0: 0, 70.0: 0, 71.0: 0, 74.0: 1, 80.0: 0}}

### Problem 2. Producing 1R with selected stock

In [15]:
df = pd.read_csv('./IBM.txt', delimiter = " ")
print("Number of rows in original data: {}\n".format(len(df.index)))
print(df.head(10))

Number of rows in original data: 3692

         Date        Open        High        Low       Close    Volume  \
0  2007-01-03   97.180000   98.400002  96.260002   97.269997   9196800
1  2007-01-04   97.250000   98.790001  96.879997   98.309998  10524500
2  2007-01-05   97.599998   97.949997  96.910004   97.419998   7221300
3  2007-01-08   98.500000   99.500000  98.349998   98.900002  10340000
4  2007-01-09   99.080002  100.330002  99.070000  100.070000  11108200
5  2007-01-10   98.500000   99.050003  97.930000   98.889999   8744800
6  2007-01-11   99.000000   99.900002  98.500000   98.650002   8000700
7  2007-01-12   98.989998   99.690002  98.500000   99.339996   6636500
8  2007-01-16   99.400002  100.839996  99.300003  100.820000   9602200
9  2007-01-17  100.690002  100.900002  99.900002  100.019997   8200700

    Adjusted
0  63.127567
1  63.802544
2  63.224930
3  64.185463
4  64.944771
5  64.178978
6  64.023201
7  64.471024
8  65.431503
9  64.912323

In [16]:
df['Daily_returns'] = 100*((df['Close'] - df['Close'].shift())/ df['Close'].shift())
print(df.head(10))

         Date        Open        High        Low       Close    Volume  \
0  2007-01-03   97.180000   98.400002  96.260002   97.269997   9196800
1  2007-01-04   97.250000   98.790001  96.879997   98.309998  10524500
2  2007-01-05   97.599998   97.949997  96.910004   97.419998   7221300
3  2007-01-08   98.500000   99.500000  98.349998   98.900002  10340000
4  2007-01-09   99.080002  100.330002  99.070000  100.070000  11108200
5  2007-01-10   98.500000   99.050003  97.930000   98.889999   8744800
6  2007-01-11   99.000000   99.900002  98.500000   98.650002   8000700
7  2007-01-12   98.989998   99.690002  98.500000   99.339996   6636500
8  2007-01-16   99.400002  100.839996  99.300003  100.820000   9602200
9  2007-01-17  100.690002  100.900002  99.900002  100.019997   8200700

    Adjusted  Daily_returns
0  63.127567            NaN
1  63.802544       1.069190
2  63.224930      -0.905300
3  64.185463       1.519199
4  64.944771       1.183011
5  64.178978      -1.179176
6  64.023201      -0.242691
7  64.471024       0.699436
8  65.431503       1.489837
9  64.912323      -0.793496

In [17]:
conditions = [(df['Daily_returns'] > 0.005),(df['Daily_returns'] < 0.005)] 
              #(df['Daily_returns'] < 0.005) & (df['Daily_returns'] > -0.005)]

values = ['Up', 'Down'] #, 'Flat']
df['Decision'] = np.select(conditions, values)
print(df)
print("\n")

            Date        Open        High         Low       Close    Volume  \
0     2007-01-03   97.180000   98.400002   96.260002   97.269997   9196800
1     2007-01-04   97.250000   98.790001   96.879997   98.309998  10524500
2     2007-01-05   97.599998   97.949997   96.910004   97.419998   7221300
3     2007-01-08   98.500000   99.500000   98.349998   98.900002  10340000
4     2007-01-09   99.080002  100.330002   99.070000  100.070000  11108200
...          ...         ...         ...         ...         ...       ...
3687  2021-08-25  139.919998  140.800003  139.460007  139.860001   2012800
3688  2021-08-26  139.970001  140.800003  138.710007  138.779999   2498700
3689  2021-08-27  138.710007  139.589996  138.399994  139.410004   2459500
3690  2021-08-30  139.500000  139.880005  138.820007  138.970001   1995500
3691  2021-08-31  139.539993  140.940002  138.949997  140.339996   4233900

        Adjusted  Daily_returns Decision
0      63.127567            NaN        0
1      63.802544       1.069190       Up
2      63.224930      -0.905300     Down
3      64.185463       1.519199       Up
4      64.944771       1.183011       Up
...          ...            ...      ...
3687  139.860001       0.014306       Up
3688  138.779999      -0.772202     Down
3689  139.410004       0.453960       Up
3690  138.970001      -0.315618     Down
3691  140.339996       0.985821       Up

[3692 rows x 9 columns]

In [36]:
#df.columns
#df = df[1:]

In [19]:
x = df[["Date", "Open", "High", "Low", "Close", "Volume", "Adjusted","Daily_returns"]]
transform = le.fit(df["Decision"])
transform = le.transform(df["Decision"])
transform

array([1, 0, 1, ..., 1, 0, 1])

In [38]:
# xd_train_IBM, xd_test_IBM, y_train_IBM, y_test_IBM = train_test_split(x, transform, test_size = 0.20)
# print(xd_train_IBM)
# print("y_train_IBM", y_train_IBM)

[['2008-09-22' 118.449997 120.139999 ... 8844000 77.386566
  -2.221286532962334]
 ['2014-12-03' 162.470001 164.520004 ... 6429100 123.644867
  1.1372754796493005]
 ['2010-09-09' 127.269997 127.57 ... 3436700 87.567383
  0.22208042160405717]
 ...
 ['2016-02-18' 130.0 134.0 ... 9951600 103.843262 5.035685250367726]
 ['2013-08-14' 188.580002 188.929993 ... 2892300 136.862198
  -0.47234848182090994]
 ['2009-11-23' 127.699997 128.940002 ... 7003500 87.561951
  0.9766840026518904]]
y_train_IBM [0 1 1 ... 1 0 1]

In [20]:
df = np.array(df)
x = np.array(x)
transform = np.array(transform)
#x_train = df[:-100,:]
x_train = x[:-100,:]
print("x_train",x_train.shape)
#x_test = df[:,-1:]
#x_test = transform[:-100]
#print("x_test",x_test.shape)
x_test = transform

x_train (3591, 8)

In [21]:
y_train = x[-100:,:]
print("y_train",y_train.shape)
y_test = transform[-100:]
print("y_test",y_test.shape)

y_train (100, 8)
y_test (100,)

In [42]:
#oner.fit(x_train, y_train)
# y_predict = oner.predict(x_test)

# Accuracy = accuracy_score(y_test, y_predict)
# print("Accucy: \n", Accuracy)

oner.fit(xd_train_IBM,y_train_IBM)
y_pred_IBM = oner.predict(xd_test_IBM)

Accuracy = accuracy_score(y_test_IBM, y_pred_IBM)
print("Accucy: \n", Accuracy)

c:\users\veda\appdata\local\programs\python\python37\lib\site-packages\mlxtend\classifier\oner.py:92: UserWarning: Feature array likely contains at least one non-categorical column. Column 0 appears to have a unique value in every row.
  ' in every row.' % c)

Accucy:
 0.4939106901217862

In [37]:
print("y_test: ", y_test)
print(" ")
print("y_predict: ", y_predict)
print(" ")

print(confusion_matrix(y_test, y_predict))

y_test:  [1 0 1 1 0 0 1 0 0 0 0 0 0 0 0 0 1 1 0 1 0 1 0 0 1 1 0 0 1 1 1 1 1 0 1 1 0
 0 0 1 0 1 0 0 0 1 0 1 1 0 1 1 1 1 1 1 1 0 0 0 1 0 1 1 1 0 0 1 1 0 1 0 0 0
 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 1 0 0 1 1 1 0 0 1 0 0 0 1 1 1 0 0 1 1 1 1 1
 0 0 0 1 1 0 0 1 0 1 1 0 1 0 0 0 0 0 0 1 0 0 1 1 0 0 1 1 1 0 0 0 0 0 0 1 0
 0 0 0 0 0 1 0 0 1 0 1 0 0 1 0 1 0 1 1 0 1 1 1 0 0 0 0 0 1 0]

y_predict:  [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0]

ValueError: Found input variables with inconsistent numbers of samples: [178, 709]

In [23]:
print("feature: ", oner.feature_idx_)

feature:  2

In [24]:
print("prediction_dict_: ", oner.prediction_dict_)

prediction_dict_:  {'total error': 239, 'rules (value: class)': {0.67: 0, 0.83: 0, 1.0: 0, 2.0: 0, 3.0: 0, 4.0: 0, 5.0: 0, 6.0: 0, 7.0: 0, 8.0: 0, 9.0: 0, 10.0: 0, 11.0: 0, 12.0: 0, 13.0: 1, 14.0: 0, 14.5: 1, 15.0: 1, 16.0: 0, 17.0: 0, 18.0: 0, 19.0: 0, 20.0: 0, 21.0: 0, 22.0: 0, 23.0: 0, 23.5: 1, 24.0: 0, 25.0: 0, 26.0: 0, 27.0: 0, 28.0: 0, 28.5: 0, 29.0: 0, 30.0: 0, 30.5: 0, 31.0: 1, 32.0: 0, 32.5: 0, 33.0: 0, 34.0: 0, 34.5: 1, 35.0: 0, 36.0: 0, 36.5: 0, 37.0: 0, 38.0: 0, 39.0: 0, 40.0: 1, 40.5: 0, 41.0: 1, 42.0: 0, 43.0: 0, 44.0: 0, 45.0: 1, 46.0: 1, 47.0: 0, 48.0: 0, 49.0: 0, 50.0: 0, 51.0: 0, 52.0: 0, 53.0: 0, 54.0: 0, 55.0: 0, 55.5: 1, 56.0: 1, 57.0: 0, 58.0: 1, 59.0: 0, 60.0: 0, 61.0: 0, 62.0: 0, 63.0: 0, 64.0: 0, 65.0: 0, 66.0: 0, 69.0: 0, 70.0: 0, 71.0: 0, 74.0: 1, 80.0: 0}}